/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edf2f4;
  height: 100vh;
  overflow: hidden;
  text-align: center; }

header:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../../images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(10px);
  transition: all 1s;
  height: 100vh;
  width: 100%; }

header:hover::after {
  filter: blur(0px); }

.header-title {
  color: #edf2f4;
  font-size: 1.1em;
  margin-bottom: 2em; }

.button-link {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px; }
  .button-link:hover {
    background-color: #04C2C9;
    cursor: pointer; }

.navigate-to-about, .navigate-to-about:visited, .navigate-to-about:hover, .navigate-to-about:active {
  display: block;
  width: 60%;
  margin: 0 auto;
  color: white;
  text-decoration: none; }

.button-link:hover .fa-arrow-right {
  transition: 0.9s;
  transform: rotate(90deg); }

.fa-arrow-right {
  transition: 0.9s;
  margin-left: .5em;
  font-size: .8em; }
