/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
.projects {
  box-sizing: border-box;
  background-color: #2b2d42;
  color: #edf2f4; }
  .projects h1 {
    color: #edf2f4;
    margin: 0 0 .75em 0;
    padding-top: 50px; }
  @media only screen and (max-width: 676px) {
    .projects {
      height: calc(70vh - 50px); } }

.gallery {
  background-color: #2b2d42;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em; }
  @media only screen and (min-width: 676px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr; } }

.card {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  margin-bottom: 1em;
  background: #f5f5f5; }

.project_picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out; }

#project1 {
  top: -50%;
  height: auto; }

.title {
  position: absolute;
  margin-top: 0%;
  top: -20%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: black; }

.card:hover .project_picture {
  opacity: 0; }

.github {
  display: block;
  position: absolute;
  text-align: center;
  text-decoration: none;
  color: black;
  overflow: hidden;
  top: 150%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
  border: 1px solid red;
  padding: 10px; }

.card:hover .github {
  display: block;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -20%);
  text-align: center;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  font-size: .8em; }
  @media screen and (max-width: 400px) {
    .card:hover .github {
      font-size: .8em;
      padding: 5px;
      top: 60%; } }
  @media screen and (max-width: 600px) {
    .card:hover .github {
      top: 60%; } }

.card:hover .title {
  position: absolute;
  margin-top: 0%;
  top: 20%;
  left: 0;
  opacity: 1;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  color: black;
  font-size: 1em; }
  @media screen and (max-width: 400px) {
    .card:hover .title {
      font-size: .8em; } }

span {
  display: block;
  font-size: .8em;
  color: #E31B6D; }
