/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
/*            PROJECTS            */
.projects {
  background-color: #2b2d42;
  color: #edf2f4; }
  .projects h1 {
    color: #edf2f4;
    margin: 0 0 .75em 0; }

.gallery {
  background-color: #2b2d42;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (min-width: 640px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr; } }
