/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
/*            PROJECTS            */
.projects {
  height: 100vh;
  background-color: #2b2d42;
  color: #edf2f4; }
  .projects h1 {
    color: #edf2f4;
    margin: 0 0 .75em 0; }

.gallery {
  background-color: #2b2d42;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em; }
  @media only screen and (min-width: 640px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr; } }

.card1 {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border: 1px solid #fff;
  margin-bottom: 1em; }

#project1 {
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: auto; }

.card2 {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border: 1px solid #fff;
  margin-bottom: 1em; }

#project2 {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%; }

.card3 {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border: 1px solid #fff;
  margin-bottom: 1em; }

.card3:hover #project3 {
  display: none; }

#project3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%; }
