/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
.section-header {
  font-size: 4rem;
  color: #edf2f4;
  margin: 0 0 3.6rem 0;
  text-align: center; }

.section {
  padding: 40px 45px; }
  .section:nth-child(odd) {
    background-color: black; }
  .section:nth-child(even) {
    background-color: #191b1f; }

.main-content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }
