@import '../../palette.scss';
/*             ABOUT            */

.about {
  height: 100vh;
  background-color: $color1;
  color: $color3;
  h1 {
    
    color: $color3;
    margin: 0 1em 0;
    padding-top: 1.5em;
  }
  p {
    margin: 0;
  }
}