/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
/*             ABOUT            */
.about {
  background-color: #2b2d42;
  color: #edf2f4; }
  .about h1 {
    color: #edf2f4;
    margin: 0 0 .75em 0; }
  .about p {
    margin: 0; }
