/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
/*             CONTACT           */
.contact {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact h1 {
    color: #edf2f4;
    margin: 0;
    margin-bottom: 1em; }

.contact-form {
  width: 50%;
  height: auto; }
  .contact-form input {
    width: 100%;
    display: block;
    border: 1px solid #8d99ae;
    padding: 10px;
    margin-bottom: 3px; }
  .contact-form textarea {
    padding: 10px;
    width: 100%;
    display: block;
    border: 1px solid #edf2f4; }
  .contact-form button {
    display: block;
    margin-top: .5em;
    float: right;
    border: 1px solid #edf2f4;
    background-color: transparent;
    color: #edf2f4;
    padding: 5px 10px;
    cursor: pointer; }
