/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
.contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact h1 {
    color: #edf2f4;
    margin: 0;
    margin-top: 1em; }

.submitted {
  color: #edf2f4; }

.contact-form {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 1em;
  height: auto; }
  .contact-form input {
    width: 100%;
    display: block;
    border: 1px solid #8d99ae;
    padding: 10px;
    margin-bottom: 3px; }
  .contact-form textarea {
    padding: 10px;
    width: 100%;
    display: block;
    border: 1px solid #edf2f4; }
  .contact-form button {
    display: block;
    margin-top: .5em;
    margin-bottom: 1em;
    float: right;
    border: 1px solid #edf2f4;
    background-color: transparent;
    color: #edf2f4;
    padding: 10px 20px;
    transition: all .5s;
    cursor: pointer; }
  .contact-form button:hover {
    background-color: #40e0d0;
    border: 1px solid #40e0d0; }
