@import '../../palette.scss';
/*             CONTACT           */

.contact {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $color3;
    margin: 0;
    margin-bottom: 1em;
  }
}

.contact-form {
    
    width: 50%;
    
    height: auto;
    
    input {
    width: 100%;
    display: block;
    border: 1px solid $color2;
    padding: 10px;
    margin-bottom: 3px;
    }

    textarea {
      padding: 10px;
      width: 100%;
      display: block;
      border: 1px solid $color3;
    }

    button {
      display: block;
      margin-top: .5em;
      float: right;
      border: 1px solid $color3;
      background-color: transparent;
      color: $color3;
      padding: 5px 10px;
      cursor: pointer;
    }
}
