@import '../../palette.scss';

nav {
  background-color: black;

  display: flex;
 
  justify-content: center;;
  align-items: center;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 3em;
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover, a:active {
    color: $color6;
  }

  li:first-child {
   float: left;
    
  }
}





