@import '../../palette.scss';

nav {
  background-color: black;

  display: flex;
 
  justify-content: center;;
  align-items: center;
  z-index: 1;
  // position: sticky;
  // top: 0;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 3em;
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover, a:active {
    color: black;
    background-color: $color6;
  }

  li:first-child {
   float: left;
    
  }
}





