/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
nav {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  nav ul {
    list-style: none; }
  nav li {
    display: inline-block;
    margin-right: 3em; }
  nav a {
    color: white;
    text-decoration: none;
    cursor: pointer; }
  nav a:hover, nav a:active {
    color: #40e0d0; }
  nav li:first-child {
    float: left; }
