@import '../../palette.scss';

footer {
  background-color: $color1;
  position: relative;
  ul {
    list-style: none;
    text-align: center;
    padding: 2em 0 0 0;
    margin-bottom: 0;
    margin-top: 0;

    
  };

  li {
    display: inline-block;
    margin: 0 1em;
  };

  a {
    color: $color3;
    text-decoration: none;
  };
}

li:hover .fa-square {
  transition: all .5s;
  transform: scale(1.1);
  color: $color6;
}
.fa-square {
  color: $color2;
}

#copyright {
  color: $color3;
  margin: 0 0;
  padding-bottom: 1em;
  font-size: .7em;
}

#return-to-home {
  display: block;
  margin-bottom: 2em;
  position: absolute;
  top: -18%;
  left: 50%;
  transform: translate(-50%, 0%);

  @media screen and (max-width: 400px) {
    transform: translate(-60%, 0%);
  }
}

.far {
  font-size: 3em;
  
}
.far:hover {
  transform: scale(1.2);
  color: $color6;
  transition: all .5s;
}





