/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
footer {
  background-color: #2b2d42;
  position: relative; }
  footer ul {
    list-style: none;
    text-align: center;
    padding: 2em 0 0 0;
    margin-bottom: 0;
    margin-top: 0; }
  footer li {
    display: inline-block;
    margin: 0 1em; }
  footer a {
    color: #edf2f4;
    text-decoration: none; }

li:hover .fa-square {
  transition: all .5s;
  transform: scale(1.1);
  color: #40e0d0; }

.fa-square {
  color: #8d99ae; }

#copyright {
  color: #edf2f4;
  margin: 0 0;
  padding-bottom: 1em;
  font-size: .7em; }

#return-to-home {
  display: block;
  margin-bottom: 2em;
  position: absolute;
  top: -18%;
  left: 50%;
  transform: translate(-50%, 0%); }
  @media screen and (max-width: 400px) {
    #return-to-home {
      transform: translate(-60%, 0%); } }

.far {
  font-size: 3em; }

.far:hover {
  transform: scale(1.2);
  color: #40e0d0;
  transition: all .5s; }
