/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
footer {
  background-color: black; }
  footer ul {
    list-style: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }
  footer li {
    display: inline-block;
    margin: 0 1em; }
  footer a {
    color: #edf2f4;
    text-decoration: none; }

li:hover .fa-square {
  transition: all .5s;
  transform: scale(1.1);
  color: #40e0d0; }

.fa-square {
  color: #8d99ae; }

#copyright {
  color: #edf2f4;
  margin: 0 0;
  padding-bottom: 1em;
  font-size: .7em; }
