/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
footer {
  background-color: black; }

#copyright {
  color: #edf2f4;
  margin: 0 0;
  padding-bottom: 1em;
  font-size: .7em; }
